.health-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-bar-fill {
    height: 100%;
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.health-bar p {
    position: relative;
    z-index: 1;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: -1px 0px 2px rgb(0, 0, 0);
}