.tooltip-container {
    position: fixed;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

.tooltip-text {
    background-color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 10pt;
    font-weight: 400;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}


.tooltip-top .tooltip-text::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: var(--secondary-color);
}

.tooltip-bottom .tooltip-text::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: var(--secondary-color);
}

.tooltip-left .tooltip-text::after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-left-color: var(--secondary-color);
}

.tooltip-right .tooltip-text::after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-right-color: var(--secondary-color);
}

.tooltip-container.show {
    display: block;
}

.tooltip-top {
    transform: translate(-50%, -100%);
    margin-top: -5px;
}

.tooltip-bottom {
    transform: translate(-50%, 0%);
    margin-top: 5px;
}

.tooltip-left {
    transform: translate(-100%, -50%);
    margin-left: -5px;
}

.tooltip-right {
    transform: translate(0%, -50%);
    margin-left: 5px;
}